<%= form_for(@micropost,:html => { :multipart => true }) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area :content %>
    <%=raw s3_swf_upload_tag %>
<input type="submit" value="Start Uploading" onclick="s3_swf_1_object.startUploading();" />
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
